<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= title %></title>
    <link id="favicon" rel="icon" type="image/png" sizes="32x32" href="https://uebiyj5.media.bublupcdn.com/pElLDtKMH9DYrw42PDlyiw/images/full_007-im-1feb7080-864d-4c17-9dc5-0f5f722ee82d.png"/>

