<!-- Side navigation -->
<script defer src="/roller.js"></script>
<div class="sidenav">
  <p>Roll:</p>
  <a id="dFour" >d4</a>
  <a id="dSix" >d6</a>
  <a id="dEight" >d8</a>
  <a id="dTen" >d10</a>
  <a id="dHundo" >d100</a>
  <a id="dTwelve" >d12</a>
  <a id="dTwenty" >d20</a>
  <h2 id="roll">Roll:</h2>
  <h2 id="rollResult"> </h2>
</div>