<!-- Side navigation -->
<script defer src="/roller.js"></script>
<div class="sidenav">
  <img id="dFour" src="https://i.imgur.com/PMM4zj0.png" alt="d4">
  <img id="dSix" src="https://i.imgur.com/zYKs8I1.png" alt="d6">
  <img id="dEight" src="https://i.imgur.com/0VKW8gH.png" alt="d8">
  <img id="dTen" src="https://i.imgur.com/mz4QC8f.png" alt="d10">
  <img id="dHundo" src="https://i.imgur.com/BwoFLI7.png" alt="d100">
  <img id="dTwelve" src="https://i.imgur.com/68LvkoR.png" alt="d12">
  <img id="dTwenty" src="https://i.imgur.com/OOKZ7QR.png" alt="d20">
  <h1 id="roll">Roll:</h1>
  <h2 id="rollResult"></h2>
</div>