<!-- Side navigation -->
<div class="sidenav">
  <p>Roll:</p>
  <a href="#">d4</a>
  <a href="#">d6</a>
  <a href="#">d8</a>
  <a href="#">d10</a>
  <a href="#">d100</a>
  <a href="#">d12</a>
  <a href="#">d20</a>
</div>