<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>Hello, <%= user ? user.profile.name : "friend" %></h1>
<a href="/characters">View Characters</a>
</main>

<%- include('./partials/footer') %>
