body {
  background-image: none;
}

#charInfo{
  /* display: flex; */
  width: 80%;
  justify-content: center;
}

img {
  margin-top: 20px;
}




.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 100px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(29, 28, 28);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  border-right: 2px solid #ffddd25b;

}

/* The navigation menu links */
.sidenav img {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 1.8rem;
  color: #818181;
  display: block;
  text-align: center;
  margin: 0;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav p {
  text-align: center;
  margin-top: 80px;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

@media screen and (max-width: 600px) {
  .sidenav {
    padding-top: 15px;
    width: 0px;
  }
  table {
    background-color: none;
    width: fit-content;
    margin: 5px;
  }
}
