html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}

/* f6bd60 yellow */
/* f5cac3 pink */

body {
  background-color: #242424;
  /* Use a system font, if none are available use an available sans-sarif font */
  background-image: url(https://i.imgur.com/o97Snrb.png);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  font-family: 'Noto Serif', serif;
  color: #f5cac3;
}

nav {
  background-color: rgb(29, 28, 28);
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  height: 80px;
  border-bottom: 2px solid #ffddd25b;
  width: 95%;
  margin-left: 5%;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 3.6rem;
  text-align: center;
  font-family: 'Shrikhand', cursive;
  text-shadow: 0 2px 2px black, 5px 5px #84a98c;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.4rem;
}

ul {
  list-style-type: none;
}

p, label, li, button, input {
  font-size: 1.8rem;
}

label {
  font-weight: bold;
}

button {
  background-color: #84a98cc4;
  color: #f5cac3;
  padding: 5px;
  font-family: 'Shrikhand', cursive;
  border: 2px solid #f5cac3;
  border-radius: 5px;
  text-shadow: 0 2px 2px black, 2px 2px #84a98c;
  margin: 10px;
}

button:hover {
  background-color: #84a98c;
}

section {
  padding: 50px;
}

a {
  color: #84a98c;
  font-family: 'Shrikhand', cursive;
}

pre {
  font-size: 1.4rem;
}

nav > a {
  margin: 1rem 3rem;
  text-decoration: none;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  text-shadow: 0 2px 2px black, 2px 2px #f5cac3;
}

nav > a:hover {
  color:#f5cac3;
  text-shadow: 0 2px 2px black, 2px 2px #84a98c;
}

form {
  text-align: center;
}

.btn {
  margin: 1.6rem 0;
}

.link {
  padding: 1rem 0;
  font-size: 1.8rem;
  display: inline-block;
}

.profile-avatar {
  margin-top: 50px;
}

table {
  font-size: 2rem;
  width: 80%;
  border: 2px solid black;
  border-radius: 5px;
  background-color:#00000059;
}

table thead th {
  padding: 5px;
  border: 2px solid rgba(0, 0, 0, 0.76);
  font-family: 'Shrikhand', cursive;
  font-size: 18px;
  text-shadow: 0 2px 2px black, 2px 2px #84a98c;
}

table td {
  padding: 10px;
  text-align: center;
  border: 2px solid black;
  font-size: 15px;
}


#list a {
  border-radius: 4px;
  background-color: #b8c0c2;
  padding: 4px;
  text-decoration: none;
  font-size: 1.6rem;
  color: #424748;
}


#newChar {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: right;
  margin-left: 10%;
}

#submitChar {
  width: fit-content;
  margin-left: 60%;
}

#classChar {
  font-size: 18px;
  width: 195px;
}

#charp{
  text-align: center;
}

table#charStat{
  border: 5px solid black;
}

#spellDetails{
  width: 70%;
  border: 5px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
}

#cardview {
  background-color: #f5cac37e;
  font-family: 'Noto Serif', serif;
  border-radius: 20px;
  border: 2px solid #f5cac3;
  text-align: center;
}

#cardview:hover{
  background-color: #84a98cb0;
}

#add-spell-form{
  text-align: right;
}

#weaponName{
  text-align: right;
  margin-right: 10px;
  margin-bottom: 0;
  margin-top: 10px;
}

#weaponBtn{
  margin-right: 10px;
}

#cardBg{
  border-radius: 50px;
  background-color: #424748d0;
  margin:  0 100px 0 120px;
}


input {
  padding: 5px;
  font-family: 'Noto Serif', serif;
}

#charProf {
  display:  inline;
}

#weaponDetails {
  margin-top: 20px;
  border: 5px solid black;
}

#foot {
  color: #242424;
}

#homeBtn {
  margin-left: 0;
}

#indexLinks {
  font-size: 30px;
  text-decoration: none;
  border: 2px solid #f5cac3;
  padding: 20px;
}

#combatList {
  width: 30%;
  margin-bottom: 20px;
}

#thisCombat {
  width: 70%;
  text-align: center;
  margin-bottom: 20px;
}

#combatSpecific{
  width: 70%;
  margin-bottom: 20px;
}

#notesAll {
  color: #242424;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  margin-left: 10%;
}

#notesTitle {
  margin-top: 15px;
  font-size: 1.8rem;
  color: darkred;
  padding-bottom: 5px;
  border-bottom: 2px solid darkred;
}

#notesCard {
  margin: 10px;
  height: 60%;
  width: auto;
  overflow: hidden;
}

#newNote {
  text-align: right;
  margin-right: 35%;

}

#notes {
  font-size: 1.2rem;
  padding-top: 5px;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 100px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(29, 28, 28);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  border-right: 2px solid #ffddd25b;

}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 1.8rem;
  color: #818181;
  display: block;
  text-align: center;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav p {
  text-align: center;
  margin-top: 80px;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#combatForm {
  text-align: right;
}

#charName {
  width: 231px;
  height: 35px;
}

#indexImg {
  width: 50%;
  border: 5px solid #84a98c;
  border-radius: 30px;
}

#imgLink {
  text-align: center;
}

#rollResult {
  text-align: center;
}

#roll {
  text-align: center;
}