html {
  box-sizing: border-box
}

*, 
*::before, 
*::after { 

  box-sizing: inherit;
}

:root {
    font-size: 62.5%
}

body {
  background-color: #242424;
  background-image: url(https://i.imgur.com/o97Snrb.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  font-family: 'Noto Serif', serif;
  color: #f5cac3;
}

nav {
  background-color: rgb(29, 28, 28);
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  height: 80px;
  border-bottom: 2px solid #ffddd25b;
  width: 100%;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-size: 3.6rem;
  text-align: center;
  font-family: 'Shrikhand', cursive;
  text-shadow: 0 2px 2px black, 5px 5px #84a98c;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.4rem;
}

ul {
  list-style-type: none;
}

p, label, li, button, input {
  font-size: 1.8rem;
}

label {
  font-weight: bold;
}

button {
  background-color: #84a98cc4;
  color: #f5cac3;
  padding: 5px;
  font-family: 'Shrikhand', cursive;
  border: 2px solid #f5cac3;
  border-radius: 5px;
  text-shadow: 0 2px 2px black, 2px 2px #84a98c;
  margin: 10px;
}

button:hover {
  background-color: #84a98c;
}

section {
  padding: 50px;
}

a {
  color: #84a98c;
  font-family: 'Shrikhand', cursive;
}

pre {
  font-size: 1.4rem;
}

nav > a {
  margin: 10px;
  text-decoration: none;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  text-shadow: 0 2px 2px black, 2px 2px #f5cac3;
}

nav > a:hover {
  color:#f5cac3;
  text-shadow: 0 2px 2px black, 2px 2px #84a98c;
}

form {
  text-align: center;
}

.link {
  padding: 1rem 0;
  font-size: 1.8rem;
  display: inline-block;
}


table {
  font-size: 2rem;
  width: 80%;
  border: 2px solid black;
  background-color:#00000059;
}

table thead th {
  padding: 5px;
  border: 5px solid rgba(0, 0, 0, 0.76);
  font-family: 'Shrikhand', cursive;
  font-size: 18px;
  text-shadow: 0 2px 2px black, 2px 2px #84a98c;
}

table td {
  padding: 10px;
  text-align: center;
  border: 2px solid black;
  font-size: 15px;
}


#list a {
  border-radius: 4px;
  background-color: #b8c0c2;
  padding: 4px;
  text-decoration: none;
  font-size: 1.6rem;
  color: #424748;
}


#newChar {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: right;
  margin-left: 10%;
}

#submitChar {
  width: fit-content;
  margin-left: 60%;
}

#classChar {
  font-size: 18px;
  width: 195px;
}

#charp{
  text-align: center;
}

table#charStat{
  border: 5px solid black;
}

#spellDetails{
  width: 70%;
  border: 5px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
}

#cardview {
  background-color: #f5cac37e;
  font-family: 'Noto Serif', serif;
  border-radius: 20px;
  border: 2px solid #f5cac3;
  text-align: center;
}

#cardview:hover{
  background-color: #84a98cb0;
}

#add-spell-form{
  text-align: right;
}

#weaponName{
  text-align: right;
  margin-bottom: 0;
  margin-top: 10px;
}

#weaponBtn{
  margin-right: 10px;
}

#cardBg{
  border-radius: 50px;
  background-color: #424748d0;
  margin:  0 100px 0 120px;
}


input {
  padding: 5px;
  font-family: 'Noto Serif', serif;
}

#charProf {
  display:  inline;
}

#weaponDetails {
  margin-top: 20px;
  border: 5px solid black;
}

#foot {
  color: #242424;
}

#homeBtn {
  margin-left: 0;
}

#indexLinks {
  font-size: 30px;
  text-decoration: none;
  border: 2px solid #f5cac3;
  padding: 20px;
}

#combatList {
  width: 30%;
  margin-bottom: 20px;
}

#thisCombat {
  width: 70%;
  text-align: center;
  margin-bottom: 20px;
}

#combatSpecific{
  width: 70%;
  margin-bottom: 20px;
}

#notesAll {
  color: #242424;
  font-size: 1.2rem;
  display: grid;
  margin-left: 15%
}

#notesTitle {
  margin-top: 15px;
  font-size: 1.8rem;
  color: darkred;
  padding-bottom: 5px;
  border-bottom: 2px solid darkred;
}

#notesCard {
  margin: 10px;
  height: 50vh;
  width: 80%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

#notesCard::-webkit-scrollbar-track
{
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
background-color: #000000;
}

#notesCard::-webkit-scrollbar
{
width: 6px;
background-color: #F5F5F5;
}

#notesCard::-webkit-scrollbar-thumb
{
background-color: darkred;
}


#newNote {
  text-align: right;
  margin-right: 35%;

}

#notes {
  font-size: 1.2rem;
  padding-top: 5px;
}


.sidenav {
  height: 100%;
  width: 100px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: rgb(29, 28, 28);
  overflow-x: hidden;
  padding-top: 20px;
  border-right: 2px solid #ffddd25b;

}

.sidenav img {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 1.8rem;
  color: #818181;
  display: block;
  text-align: center;
}

.sidenav img:hover {
  border: 3px solid #f5cac3;
  border-radius: 10px;
  background-color: #f5cac34d;
}

.sidenav p {
  text-align: center;
  margin-top: 80px;
}

.main {
  margin-left: 160px; 
  padding: 0px 10px;
}

#combatForm {
  text-align: right;
}

#charName {
  width: 231px;
  height: 35px;
}

#indexImg {
  width: 50%;
  border: 5px solid #84a98c;
  border-radius: 30px;
}

#imgLink {
  text-align: center;
}

#rollResult {
  text-align: center;
}

#roll {
  text-align: center;
}

#dFour{
  margin-top: 40px;
}

#roll{
  font-size: 2.2rem;
}

#currentHP{
  width: 50px;
}

#combatName{
  font-size: 2rem;
}

@media screen and (max-width: 600px) {
  .sidenav {
    padding-top: 15px;
    width: 0px;
  }
  body {
    background-image: none;
  }
  h1 {
    font-family: 'Noto Serif', serif;
    text-shadow: none;
    font-size: 2.4rem;
  }
  nav {
    width: 100vw;
    margin: 0;
  }
  nav a{
    font-family: 'Noto Serif', serif;;
    text-shadow: none;
    font-size: 1.6rem;
    margin-left: 5px;
  }
  table, td, th, tbody, thead{
    border: none;
    background-color: none;
  }
  td {
  height: 50px;
  border: none;
  background-color: none;
}
  #cardBg{
    margin: 0;
  }
  #weaponDetails{
    background-color: none;
    width: fit-content;
  }
  #spellDetails{
    width: fit-content;
  }
}