html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}

body {
  background-color: gray;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
}

nav {
  background-color: rgb(56, 7, 88);
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 3.6rem;
  text-align: center;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.4rem;
}

ul {
  list-style-type: none;
}

p, label, li, button, input {
  font-size: 1.8rem;
}

label {
  font-weight: bold;
}

section {
  padding: 50px;
}

a {
  color: rgb(218, 187, 248);
}

pre {
  font-size: 1.4rem;
}

nav > a {
  margin: 1rem 3rem;
  text-decoration: none;
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  margin: 1.6rem 0;
}

.link {
  padding: 1rem 0;
  font-size: 1.8rem;
  display: inline-block;
}

.profile-avatar {
  margin-top: 50px;
}

table {
  font-size: 2rem;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: center;
}


#list a {
  border-radius: 4px;
  background-color: #b8c0c2;
  padding: 4px;
  text-decoration: none;
  font-size: 1.6rem;
  color: #424748;
}

#list a:visited{
  color: #424748;
}

#list a:hover {
  background-color: white;
}

#newChar {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: right;
  margin-left: 10%;
}

#submitChar {
  width: fit-content;
  margin-left: 60%;
}

#classChar {
  font-size: 18px;
  width: 195px;
}

#charh1{
  margin-left: 20%;
}

#charp{
  margin-left: 20%;
}

#charStat{
  width: fit-content;
  border: 5px solid black;
}

#spellDetails{
  width: 70%;
  border: 2px solid black;
  margin-top: 20px;
}

#cardview {
  background-color: rgb(218, 187, 248);
}